<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pro.xiaoyang.dream.dao.mapper.UserMapper">

    <resultMap id="user" type="pro.xiaoyang.dream.base.User">
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="userName" jdbcType="VARCHAR" property="userName"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="realName" jdbcType="VARCHAR" property="realName"/>
    </resultMap>

    <select id="selectById" resultType="User">
        select * from user where id = #{id}
    </select>
    <insert id="save" parameterType="User">
        insert into user (id,username,password,realname) values (#{id},#{userName},#{password},#{realName})
    </insert>
</mapper>